#pitch{
  .cell{
    width: 40px;
    height: 40px;
    background-color: green;
    float: left;
  }
  .cell.leftBackline{
    border-right: 2px solid white;
    clear: left;
  }
  .cell.rightBackline{
    border-left: 2px solid white;
  }
  .cell.los.left{
    border-right: 1px solid white;
  }
  .cell.los.right{
    border-left: 1px solid white;
  }
  .cell.sideline{
    border-bottom: 1px dashed white;
  }
  .cell.sideline.rightBackline{
    border-bottom: 1px solid green;
  }
  .cell.sideline.leftBackline{
    border-bottom: 1px solid green;
  }
  .cell:hover{
    background-color: blue;
  }
}