#gameInfo{"data-id" => @game.id}
= render :partial => "shared/dungeon", :locals => {:dungeon => @dungeon, :game => @game}
.playerList
  - @team.players.each do |player|
    .red.player{'data-id' => player.status.id}
      %p P
  - @second_team.players.each do |player|
    .blue.player{'data-id' => player.status.id}
      %p P