/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.dungeon{
  position: relative;
  background: black;
  .tile{
    height: 32px;
    width: 32px;
    position: absolute;
    background: green;
  }
}